@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

@media only screen and (min-width: 321px) {

}

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  .navbar-collapse {
    background: #444;
    border: 0px;
    .nav, .nav li a {
      border: 0px;
      width: 100%;
      text-align: left;
    }
    .navbar-form {
      float: left;
      width: 100%;
      margin: 0px;
      .form-group {
        padding: 2px 5px;
      }
    }
  }

  .navbar-nav {
    .open {
      .dropdown-menu {
        width: 100%;
        float: left;
        > li > a {
          padding: 8px 15px 8px 25px;
        }
        > li > a:hover {
          background: url(<%= asset_path 'taurus/background/bt_cubs_a.png' %>) left top repeat transparent;
        }
      }
    }
  }

  .dropdown-menu > li > a .icon-angle-right {
    display: none;
  }

  .navbar-collapse .dropdown-submenu {
    position: relative;
    display: block;
    float: left;
    left: auto;
    background: transparent;
    padding-left: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }
  .registration-block {
    width: auto;
  }

  .block > div, .block.block-drop-shadow {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .row > [class^='col-xs-'], .row > [class^='col-sm-'], .row > [class^='col-md-'], .row > [class^='col-lg-'] {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 1024px) {
  .block .user {
    padding: 35px 10px;
  }
  .container.container-fixed {
    width: auto;
    max-width: auto !important;
  }

}

@media only screen and (max-width: 1279px) {

}
