a.theme-black {
  background: rgba(0, 0, 0, 0.6);
}

.theme-black .navbar {
  background: rgba(0, 0, 0, 0.6);
}

.theme-black .navbar-nav {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.theme-black .navbar-nav > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.theme-black .navbar-nav > li.active > a, .theme-black .navbar-nav > li:hover > a, .theme-black .navbar-nav > li > a:focus,
.theme-black .nav .open > a, .theme-black .nav .open > a:hover, .theme-black .nav .open > a:focus {
  border-right: 1px solid transparent;
  border-left-color: transparent;
}

.theme-black .navbar-nav > li:last-child > a {
  border-right-color: transparent;
}

.theme-black .navbar-nav > li > a > span {
  color: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.theme-black .navbar-nav > li > a:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}

.theme-black .bg-default {
  background: rgba(0, 0, 0, 0.6) !important;
}

.theme-black .bg-light {
  background-image: asset_url('taurus/background/wlight.png');
}

.theme-black .bg-light-ltr {
  background-image: asset_url('taurus/background/wlight_ltr.png');
}

.theme-black .bg-light-rtl {
  background-image: asset_url('taurus/background/wlight_rtl.png');
}

a.theme-white {
  background: rgba(255, 255, 255, 0.3);
}

.theme-white .navbar {
  background: rgba(255, 255, 255, 0.3);
}

.theme-white .navbar-nav {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.theme-white .navbar-nav > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.theme-white .navbar-nav > li.active > a, .theme-white .navbar-nav > li:hover > a, .theme-white .navbar-nav > li > a:focus,
.theme-white .nav .open > a, .theme-white .nav .open > a:hover, .theme-white .nav .open > a:focus {
  border-right: 1px solid transparent;
  border-left-color: transparent;
}

.theme-white .navbar-nav > li:last-child > a {
  border-right-color: transparent;
}

.theme-white .navbar-nav > li > a > span {
  color: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.theme-white .navbar-nav > li > a:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}

.theme-white .bg-default {
  background: rgba(255, 255, 255, 0.3) !important;
}

.theme-white .bg-light {
  background-image: asset_url('taurus/background/wlight.png');
}

.theme-white .bg-light-ltr {
  background-image: asset_url('taurus/background/wlight_ltr.png');
}

.theme-white .bg-light-rtl {
  background-image: asset_url('taurus/background/wlight_rtl.png');
}

a.theme-dark {
  background: #131517;
}

.theme-dark .navbar {
  background-color: #131517;
}

.theme-dark .navbar-nav {
  border-right: 1px solid #2E3236;
  border-left: 1px solid #0A0B0C;
}

.theme-dark .navbar-nav > li > a {
  border-left: 1px solid #2E3236;
  border-right: 1px solid #0A0B0C;
}

.theme-dark .navbar-nav > li.active > a, .theme-dark .navbar-nav > li:hover > a, .theme-dark .navbar-nav > li > a:focus,
.theme-dark .nav .open > a, .theme-dark .nav .open > a:hover, .theme-dark .nav .open > a:focus {
  border-right: 1px solid #0A0B0C;
  border-left-color: #2E3236;
}

.theme-dark .navbar-nav > li:last-child > a {
  border-right-color: #0A0B0C;
}

.theme-dark .navbar-nav > li > a > span {
  color: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.theme-dark .navbar-nav > li > a:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}

.theme-dark .bg-default {
  background-color: #131517 !important;
}

.theme-dark .bg-light {
  background-image: asset_url('taurus/background/wlight.png');
}

.theme-dark .bg-light-ltr {
  background-image: asset_url('taurus/background/wlight_ltr.png');
}

.theme-dark .bg-light-rtl {
  background-image: asset_url('taurus/background/wlight_rtl.png');
}

a.theme-green {
  background: #304843;
}

.theme-green .navbar {
  background-color: #304843;
}

.theme-green .navbar-nav {
  border-right: 1px solid #476B64;
  border-left: 1px solid #243532;
}

.theme-green .navbar-nav > li > a {
  border-left: 1px solid #476B64;
  border-right: 1px solid #243532;
}

.theme-green .navbar-nav > li.active > a, .theme-green .navbar-nav > li:hover > a, .theme-green .navbar-nav > li > a:focus,
.theme-green .nav .open > a, .theme-green .nav .open > a:hover, .theme-green .nav .open > a:focus {
  border-right: 1px solid #243532;
  border-left-color: #476B64;
}

.theme-green .navbar-nav > li:last-child > a {
  border-right-color: #243532;
}

.theme-green .navbar-nav > li > a > span {
  color: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.theme-green .navbar-nav > li > a:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}

.theme-green .bg-default {
  background-color: #304843 !important;
}

.theme-green .bg-light {
  background-image: asset_url('taurus/background/wlight.png');
}

.theme-green .bg-light-ltr {
  background-image: asset_url('taurus/background/wlight_ltr.png');
}

.theme-green .bg-light-rtl {
  background-image: asset_url('taurus/background/wlight_rtl.png');
}

a.template-white {
  background: #FFF;
}

.template-white {
  background: #FFF;
}

.theme-opaque {
  .block {
    &.block-transparent {
      .header, .head {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    }
    .header {
      background-color: #333;
      &.header-default {
        background-color: #333;
      }
    }
    .content {
      background-color: #333;
      &.content-default {
        background-color: #333;
      }
    }
    .footer {
      background-color: #333;
      &.footer-default {
        background-color: #333;
      }
    }

    &.block-transparent {
      .header, .header.header-default, .content, .content.content-default, .footer.footer-default {
        background: transparent;
      }
    }
  }
  .pagination {
    > li {
      > a, > span {
        background: #333;
        &:hover, &:focus {
          background: asset_url('taurus/background/bt_cubs.png') left top repeat #222;
        }
      }
    }
    > .active {
      > a, > span {
        background: asset_url('taurus/background/bt_cubs.png') left top repeat #222;
        &:hover, &:focus {
          background: asset_url('taurus/background/bt_cubs.png') left top repeat #444;
        }
      }
    }
    > .disabled {
      > a, > span, > a:hover, > span:hover {
        background: #111;
      }
    }
  }
  .navbar {
    background: #333 !important;
  }

  .navbar-right .navbar-nav {
    margin-right: 5px;
  }
  .breadcrumb {
    background: asset_url('taurus/background/bt_cubs.png') left top repeat #222;
  }
  .input-group-addon {
    background: asset_url('taurus/background/bt_cubs.png') left top repeat #222;
  }

  .form-control, input, select, select[multiple], textarea {
    background: #333;
  }
  .messages {
    .messages-item {
      .message-user {
        display: block;
        float: left;
      }
      .messages-item-text {
        background-color: #333;
        a.fancybox {
          width: 150px;
          display: block;
          img {
            max-width: 100%;
          }
        }
        &:after {
          border-right-color: #333;
        }
      }
      &.inbox {
        .message-user {
          float: right;
        }
        .messages-item-text:after {
          border-right-color: transparent;
          border-left-color: #333;
        }
      }
    }
  }
}