- breadcrumb :forum
- set_meta_tags :title => t('fog.fe.layout.nav.forum')
#forum-wrap
  - if @forum_categories.any?
    - @forum_categories.each do |category|
      - if category.children.any?
        .block.block-drop-shadow.category{:id => "category-#{category.id}"}
          .head.bg-cubs
            %h2= link_to category.title, forum_category_path(category)
            .side.pull-right
              %ul.buttons
                %li
                  = link_to '#', :class => 'block-toggle-category clip', :title => '', :data => { :original => { :title => 'Скрыть или показать категорию' } } do
                    %span.icon-chevron-up
          .content.np
            .list.children-list
              - category.children.each do |child|
                = render :partial => 'chunks/forum/category/item', locals: {category: child}