- breadcrumb :forum_category, @forum_category
#forum-wrap
  %h2= title
  - if @forum_category.children.any?
    .block.block-drop-shadow.category{:id => "category-#{@forum_category.id}"}
      .content.np
        .list.children-list
          - @forum_category.children.each do |child|
            = render :partial => 'chunks/forum/category/item', locals: {category: child}
    .clearfix
  - if @topics.any?
    = render :partial => 'chunks/forum/shared/category_actions', locals: {category: @forum_category, topics: @topics}
    .block.block-drop-shadow.topics
      .content.np
        .list.topics-list
          - @topics.each do |topic|
            - if topic.reply_count > 0
              = render :partial => 'chunks/forum/topics/item_topic', locals: {topic: topic, category: @forum_category}
    .clearfix
    = render :partial => 'chunks/forum/shared/category_actions', locals: {category: @forum_category, topics: @topics}