.registration-block
  .block.block-transparent
    .head.tac
      = link_to root_path do
        = image_tag asset_url('fog_logo.png')
    .content.controls.npt
      = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
        .form-row
          .col-md-6
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-envelope
              = f.input_field :email, :as => :email, :class => 'form-control', :placeholder => t('activerecord.attributes.user.email')
          .col-md-6
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-user
              = f.input_field :name, :class => 'form-control', :placeholder => t('activerecord.attributes.user.name')
        .form-row
          .col-md-6
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-lock
              = f.input_field :password, :class => 'form-control', :placeholder => t('activerecord.attributes.user.password')
            - if @validatable
              = f.hint "Минимальное количество символов - #{@minimum_password_length}"
          .col-md-6
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-unlock-alt
              = f.input_field :password, :class => 'form-control', :placeholder => t('activerecord.attributes.user.password_confirmation')
        .form-row
          .col-md-12
            = submit_tag 'Зарегистрироваться', :class => 'btn btn-block btn-success'
-#<h2>Sign up</h2>
-#
-#<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
-#  <%= devise_error_messages! %>
-#
-#  <div class="field">
-#    <%= f.label :email %><br />
-#    <%= f.email_field :email, autofocus: true %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password %>
-#    <% if @validatable %>
-#    <em>(<%= @minimum_password_length %> characters minimum)</em>
-#    <% end %><br />
-#    <%= f.password_field :password, autocomplete: "off" %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password_confirmation %><br />
-#    <%= f.password_field :password_confirmation, autocomplete: "off" %>
-#  </div>
-#
-#  <div class="actions">
-#    <%= f.submit "Sign up" %>
-#  </div>
-#<% end %>
-#
-#<%= render "devise/shared/links" %>
