= simple_form_for [@post.category, @post, @comment], remote: true do |p|
  = p.association :post, :as => :hidden
  = p.association :user, :as => :hidden
  = p.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} }
  = p.button :submit, :class => 'btn btn-success'