.block.block-drop-shadow.post-entry{:id => "post-#{post.id}"}
  .head.bg-cubs
    %h2= link_to post.title, category_post_path(post.category, post)
    .pull-right
      %span.icon-calendar-empty
      = l post.created_at, :format => :short
    .head-subtitle
      %span.post-category
        %span.icon-list
        = link_to post.category.title, category_path(post.category)
      \&nbsp;
      %span.post-user
        %span.icon-user
        = link_to post.user.name, user_path(post.user)
  .content.typhography
    = post.body.split('<!--readmore-->')[0].html_safe