- @comments.each do |comment|
  %div{:class => "messages-item #{'inbox' if user_signed_in? and current_user.id != comment.user.id}", :id => "message-#{comment.id}"}
    %a{ :href => user_path(comment.user), :class => 'message-user tipb', :data => { :original => { :title => comment.user.decorate.processed_name} }}
      = image_tag comment.user.decorate.processed_avatar, :class => 'img-round img-thumbnail', :width => 36
    .messages-item-text
      .messages-item-meta
      = comment.body.bbcode_to_html.html_safe
      .clearfix
    .messages-item-date
      = l comment.created_at, :format => :short