%h1 Listing users
.well
  .table-responsive
    %table.table.table-hover.table-striped.user-list
      %thead
        %tr
          %th{:colspan => 2} User name
          %th Birth date
          %th
      %tbody
        - @users.each do |user|
          %tr.user{:id => "user-#{user.id}"}
            %td.user-avatar-cell
              %a{:href => user_path(user)}
                = image_tag user.processed_avatar(size: 36)
                %span.status
                  - if user.online?
                    %i.fa.fa-eye.text-success{:title => 'online'}
                  - else
                    %i.fa.fa-eye-slash.text-danger{:title => 'offline'}
            %td
              = link_to user.processed_name, user_path(user)
              \&nbsp;
              - unless user.gender.nil?
                - if !user.gender
                  %i.fa.fa-male{:title => 'Male'}
                - if user.gender
                  %i.fa.fa-female{:title => 'Female'}
            %td
              = l(user.birth_date) unless user.birth_date.nil?


  %br

  = link_to 'New Frontend user', new_user_path
.text-center
  = paginate @users, :views_prefix => 'blocks/'