.block.block-drop-shadow
  .header
    %h2 New topic
  .content.controls
    = simple_form_for @forum_topic, :url => forum_category_topics_path(@forum_topic.category) do |f|
      .form-row
        .col-md-3
          = f.label :title
        .col-md-9
          = f.input_field :title
      .form-row
        .col-md-12
          = f.label :desc
      .form-row
        .col-md-12
        = f.simple_fields_for :replies do |reply|
          = reply.input_field :body, :as => :text, :class => 'tmce'
          = reply.input_field :user_id, :as => :hidden, :value => current_user.id
          = reply.input_field :title, :as => :hidden, :value => ''
      = f.input :category_id, :as => :hidden, :input_html => {:value => @forum_topic.category.id}
      = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
      .form-row
        .col-md-12
          = f.button :submit, :class => 'btn btn-success'