%h1 Listing forum_topics

%table
  %thead
    %tr
      %th Title
      %th Desc
      %th Is published
      %th User
      %th
      %th
      %th
      
  %tbody
    - @forum_topics.each do |forum_topic|
      %tr
        %td= forum_topic.title
        %td= forum_topic.desc
        %td= forum_topic.is_published
        %td= forum_topic.user_id
        %td= link_to 'Show', forum_topic
        %td= link_to 'Edit', edit_forum_topic_path(forum_topic)
        %td= link_to 'Destroy', forum_topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Topic', new_forum_topic_path
