- breadcrumb :forum_topic, @forum_topic
= paginate @replies, :views_prefix => 'blocks/'
.block.block-transparent.topic{:id => "topic-#{@forum_topic.id}"}
  .head.bg-cubs.block-drop-shadow
    %h2= @forum_topic.title
  .content.messages.npb.replies
    - @replies.each do |reply|
      = render :partial => 'chunks/forum/topics/item_reply', locals: {reply: reply}
= paginate @replies, :views_prefix => 'blocks/'
- if user_signed_in?
  .clearfix
  .block.block-transparent.topic-reply-form
    .head.bg-cubs.block-drop-shadow
      %h2 Написать ответ
    .content.messages.npb
      = link_to user_path(current_user), :class => 'pull-left' do
        = image_tag asset_path(current_user_d.processed_avatar),
        :class => 'img-thumbnail img-round tipb',
        'data-original-title' => current_user_d.processed_name,
        :style => 'width: 36px'
      .messages-item
        .messages-item-text
          = render :partial => 'chunks/forum/topics/reply_form', locals: {category: @forum_topic.category, topic: @forum_topic}
          .clearfix