// Place all the styles related to the Forum/Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category {
  .children-list {
    .children {
      background: transparent;
      &:nth-child(2n+1) {
        background: transparent;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.1);
        .category-info {
          .meta {
            opacity: 1;
          }
        }
      }
      & > div {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .category-info {
        .meta {
          opacity: 0;
          -webkit-transition: all 100ms linear;
          -moz-transition: all 100ms linear;
          -ms-transition: all 100ms linear;
          -o-transition: all 100ms linear;
          transition: all 100ms linear;
          .topic-count, .reply-count {
            margin-right: 5px;
          }
        }
      }
      .category-last-post {
        .last-post-link {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
          max-width: 100%;
        }
        .info {
          display: block;
          img {
            max-height: 24px;
          }
        }
      }
    }
  }
}