.topics {
  .topics-list {
    .topic {
      padding: 20px 0;
      background: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      &:last-child {
        border-bottom: 0;
      }
      &:nth-child(2n+1) {
        background: transparent;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      & > div {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .topic-user-avatar {
        a {
          display: block;
        }
      }
      .topic-last-post {
        .reply-count {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
          max-width: 100%;
        }
        .info {
          display: block;
          img {
            max-height: 24px;
          }
        }
      }
    }
  }
}

.topic-reply-form {
  .messages-item-text {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

