.block.block-drop-shadow
  - unless user_signed_in?
    .head.bg-cubs
      .user
        .info.user-change
          = image_tag 'taurus/example/user/dmitry_b.jpg', :class => 'img-circle img-thumbnail'
    .content.controls.npt
      = simple_form_for(User.new, :url=> new_user_session_path) do |f|
        .form-row
          .col-md-12
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-user
              = f.input_field :email, :class => 'form-control', :placeholder => 'E-mail'
        .form-row
          .col-md-12
            .input-group
              .input-group-addon
                %span.fa.fa-fw.fa-key
              = f.input_field :password, :class => 'form-control', :placeholder => 'Пароль'
        .form-row
          .col-md-5
            = button_tag(:type => :submit, :class => 'btn btn-success btn-block btn-clean') do
              %span.fa.fa-fw.fa-sign-in
              \Войти
          .col-md-7
            = link_to new_user_registration_path, :class => 'btn btn-info btn-block btn-clean' do
              %span.fa.fa-fw.fa-user-plus
              \Регистрация
        .form-row
          .col-md-12= link_to 'Забыли пароль?', new_user_password_path, :class => 'btn btn-link btn-block'
  - else
    .user.bg-cubs
      .info
        = link_to '#', :class => 'informer informer-one' do
          %span Login
          = current_user.email
        = image_tag current_user_d.processed_avatar(size: 96), :class => 'img-circle img-thumbnail'
    .content.np
      .list-group.list-group-icons
        = link_to destroy_user_session_path, :method => :delete, :class => 'list-group-item' do
          %span.icon-off
          = t('fog.fe.layout.user.logout')
        = link_to user_path(current_user), :class => 'list-group-item' do
          %span.icon-user
          \Профиль