.row
  .col-md-3
    .block.block-transparent
      .head.bg-cubs.block-drop-shadow
        = image_tag @user.decorate.processed_avatar(size: 200, attach_size: :medium), :alt => @user.decorate.processed_name, :class => 'img-responsive img-thumbnail img-rounded'
  .col-md-9
    .block.block-drop-shadow
      .head.bg-cubs
        %h2= @user.decorate.processed_name
      .content