.category-actions
  .pull-left
    = paginate topics, :views_prefix => 'forum/'
  .pull-right.action-buttons.text-right
    - if user_signed_in?
      .btn-group.btn-group-sm
        = link_to new_forum_category_topic_path(category, Forum::Topic.new), :class => 'btn btn-success' do
          %span.fa.fa-fw.fa-comments-o
          = t('helpers.submit.forum_topic.create')
    - else
      .btn-group.btn-group-sm

  .clearfix