= link_to last_post.topic.title, forum_category_topic_path(category,
  last_post.topic,
  :page => (last_post.topic.reply_count.to_f / Forum::Topic.default_per_page).ceil,
  :anchor => "reply-#{last_post.id}"), :class => 'last-post-link badge'
.clearfix
.info
  = link_to user_path(last_post.user) do
    = image_tag last_post.user.decorate.processed_avatar(size: 50), :class => 'img-round img-thumbnail'
    = "#{last_post.user.decorate.processed_name},"
  %span.text-muted= l(last_post.created_at, :format => :short)