%h4= t('fog.fe.layout.block.whois_online.title')
%br
.row
  - if !total_online.nil?
    - total_online.each do |user|
      .col-xs-3.col-sm-3.col-md-3.col-lg-3.user-online
        - unless user.name.nil?
          - name_label = user.name
        - else
          - name_label = user.email
        - if user.avatar.exists?
          = image_tag user.avatar.url(:thumb), :alt => name_label, :title => name_label, :data => {:toggle => 'tooltip', :placement => 'top'}, :class => 'img-responsive'
        - else
          = image_tag user.processed_avatar(size: 20), :alt => name_label, :title => name_label, :data => {:toggle => 'tooltip', :placement => 'top'}, :class => 'img-responsive'
.clearfix