= form_for @forum_reply do |f|
  - if @forum_reply.errors.any?
    #error_explanation
      %h2= "#{pluralize(@forum_reply.errors.count, "error")} prohibited this forum_reply from being saved:"
      %ul
        - @forum_reply.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :is_published
    = f.check_box :is_published
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
