%h1 Listing forum_replies

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Is published
      %th User
      %th
      %th
      %th
      
  %tbody
    - @forum_replies.each do |forum_reply|
      %tr
        %td= forum_reply.title
        %td= forum_reply.body
        %td= forum_reply.is_published
        %td= forum_reply.user_id
        %td= link_to 'Show', forum_reply
        %td= link_to 'Edit', edit_forum_reply_path(forum_reply)
        %td= link_to 'Destroy', forum_reply, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reply', new_forum_reply_path
