%p#notice= notice

%p
  %b Title:
  = @forum_reply.title
%p
  %b Body:
  = @forum_reply.body
%p
  %b Is published:
  = @forum_reply.is_published
%p
  %b User:
  = @forum_reply.user_id

= link_to 'Edit', edit_forum_reply_path(@forum_reply)
\|
= link_to 'Back', forum_replies_path
