.row
  .col-md-12
    %nav.navbar.brb{:role => 'navigation'}
      .navbar-header
        = link_to root_path, :class => 'navbar-brand' do
          = image_tag asset_url('fog_logo.png')
      .collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
        = render_navigation :expand_all => true, :renderer => :taurus