<script type="text/javascript">
  $(document).ready(function(){
      <%- unless flash[:notice].nil? %>
      noty({text: '<%= escape_javascript(flash[:notice]) %>', type: 'success', timeout: 5000});
      <%- end %>
      <%- unless flash[:alert].nil? %>
      noty({
          text: '<%= escape_javascript(flash[:alert]) %>',
          type: 'error',
          timeout: 5000,
          buttons: [
              {
                  addClass: 'btn btn-clean btn-default',
                  text: '<%= escape_javascript t('fog.fe.layout.common.confirm') %>',
                  onClick: function (noty) {
                      noty.close();
                  }
              }
          ]
      });
      <%- end %>
  });
</script>