%h2= t('fog.fe.layout.user.login')
.col-md-offset-3.col-md-6
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    = f.input :email
    = f.input :password
    = f.button :submit
-#<h2>Log in</h2>
-#
-#<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
-#  <div class="field">
-#    <%= f.label :email %><br />
-#    <%= f.email_field :email, autofocus: true %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password %><br />
-#    <%= f.password_field :password, autocomplete: "off" %>
-#  </div>
-#
-#  <% if devise_mapping.rememberable? -%>
-#    <div class="field">
-#      <%= f.check_box :remember_me %>
-#      <%= f.label :remember_me %>
-#    </div>
-#  <% end -%>
-#
-#  <div class="actions">
-#    <%= f.submit "Log in" %>
-#  </div>
-#<% end %>
-#
-#<%= render "devise/shared/links" %>
