%h1 Listing roles

%table
  %tr
    %th Title
    %th Slug
    %th
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= role.title
      %td= role.slug
      %td= link_to 'Show', role
      %td= link_to 'Edit', edit_role_path(role)
      %td= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role', new_role_path
