.list-item.children{:id => "children-#{category.id}"}
  .col-xs-3.col-sm-1.col-md-1.text-center.category-icon
    = link_to forum_category_path(category) do
      %span.fa.fa-fw.fa-3x.fa-folder-o
  .col-xs-9.col-sm-11.col-md-7.category-info
    %h4= link_to category.title, forum_category_path(category)
    .meta
      %span.label.label-default.topic-count.tipb{'data-original-title' => t('fog.fe.layout.forum.category.topic_count'), 'data-container' => 'body'}
        %span.fa.fa-comment-o
        = category.topic_count
      %span.label.label-default.reply-count.tipb{'data-original-title' => t('fog.fe.layout.forum.category.reply_count'), 'data-container' => 'body'}
        %span.fa.fa-comments-o
        = category.reply_count
      - if category.children.any?
        %a.label.label-default.child-count{:href => 'javascript://',
        :data => {:trigger => 'focus',
        :toggle => 'popover',
        :placement => :bottom,
        :content => render(:partial => 'chunks/forum/category/item_children', locals: {children: category.children}).html_safe,
        :container => 'body',
        :title => '',
        :original => {:title => t('fog.fe.layout.forum.category.children_categories')}}}
          %span.fa.fa-folder
          = category.children.count
          %span.fa.fa-caret-down
  .col-md-4.hidden-xs.hidden-sm.category-last-post
    - unless category.last_post.nil?
      = render :partial => 'chunks/forum/shared/last_post', locals: {last_post: category.last_post, category: category}