.messages-item.reply{:id => "reply-#{reply.id}"}
  = link_to user_path(reply.user), :class => 'pull-left' do
    = image_tag reply.user.decorate.processed_avatar(size: 36),
          :alt => reply.user.decorate.processed_name,
          :class => 'img-thumbnail img-round tipb',
          :style => 'width: 36px',
          'data-original-title' => reply.user.decorate.processed_name

  .messages-item-text
    .meta.bg-cubs
      = link_to user_path(reply.user), :class  => 'user-link' do
        %span.fa.fa-user.fa-fw
        %strong= reply.user.decorate.processed_name
        \&nbsp;
      %small= l reply.created_at, :format => :long
      .pull-right
        = link_to "##{reply.id}", forum_category_topic_path(@forum_topic.category, @forum_topic, :page => params[:page], :anchor => "reply-#{reply.id}")
    .clearfix
    = reply.body.bbcode_to_html.html_safe
    .clearfix
    - unless reply.user.signature.nil?
      .messages-item-signature
        = reply.user.signature.bbcode_to_html.html_safe
      .clearfix
    .messages-item-buttons
      .btn-toolbar.pull-right
        - if user_signed_in?
          .btn-group
          .btn-group
    .clearfix