.list-item.topic{:id => "topic-#{topic.id}"}
  .col-xs-3.col-sm-1.col-md-1.topic-user-avatar.text-center
    = link_to user_path(topic.user), :class => 'tipb', 'data-container' => 'body', 'data-original-title' => topic.user.decorate.processed_name do
      = image_tag topic.user.decorate.processed_avatar(size: 50), :alt => '', :class => 'img-round img-thumbnail'
  .col-xs-9.col-sm-11.col-md-7.topic-info
    %h4= link_to topic.title, forum_category_topic_path(category, topic), 'data-toggle' => 'popover', 'data-placement' => 'bottom', 'data-container' => 'body', 'data-trigger' => 'hover', 'data-content' => truncate(strip_tags(topic.replies.first.body.bbcode_to_html), :length => 200, :separator => ' ')
    .meta
      = link_to user_path(topic.user), :class => 'badge topic-author' do
        %span.fa.fa-fw.fa-user
        = topic.user.decorate.processed_name
      %span.topic-created.text-muted
        %span.fa.fa-fw.fa-calendar
        = l topic.created_at, :format => :short
  .col-md-4.hidden-xs.hidden-sm.topic-last-post
    = render :partial => 'chunks/forum/topics/last_post', locals: {last_post: topic.replies.last, topic: topic, category: category}