%span.badge.reply-count
  %span.fa.fa-fw.fa-comments
  = topic.reply_count
  \ответов
.clearfix
.info
  = link_to user_path(last_post.user) do
    = image_tag last_post.user.decorate.processed_avatar(size: 50), :class => 'img-round img-thumbnail'
    = "#{last_post.user.decorate.processed_name},"
  = link_to l(last_post.created_at, :format => :short),
  forum_category_topic_path(category,
  topic, :page => (topic.reply_count.to_f / Forum::Topic.default_per_page).ceil,
  :anchor => "reply-#{last_post.id}")