= simple_form_for Forum::Reply.new, :url => forum_category_topic_replies_path(category, topic) do |f|
  .form-row
    .col-md-12
      = f.input_field :body, :as => :text, :class=> 'stmce'
      = f.input :user_id, :as => :hidden, :value => current_user.id
  .form-row
    .col-md-2
      = f.button :submit, :class => 'btn-success'
