$('.post-entry-detail').html("#{escape_javascript(render 'posts/partials/post_show')}");
$('.messages').html("#{escape_javascript(render 'posts/partials/post_show_comments') }");
$('.pagination-wrap-top').html("#{escape_javascript(paginate @comments, :remote => true, :views_prefix => 'blocks/', :param_name => :comments_page, :params => { :anchor => 'comments' })}");
$('.pagination-wrap-bottom').html("#{escape_javascript(paginate @comments, :remote => true, :views_prefix => 'blocks/', :param_name => :comments_page, :params => { :anchor => 'comments' })}");
console.log("#{escape_javascript(request.params[:page])}");
window.location.hash = "comments-page-#{escape_javascript(request.params[:page])}";