- breadcrumb :post, @post
.block.block-drop-shadow.post-entry-detail{:id => "post-#{@post.id}"}
  = render 'posts/partials/post_show'
.clearfix
.pagination-wrap-top
  = paginate @comments, :views_prefix => 'blocks/', :param_name => :comments_page, :params => { :anchor => 'comments' }
.clearfix
.messages#comments
  = render 'posts/partials/post_show_comments'
.clearfix
.pagination-wrap-bottom
  = paginate @comments, :views_prefix => 'blocks/', :param_name => :comments_page, :params => { :anchor => 'comments' }
.clearfix
- if user_signed_in?
  .block.block-drop-shadow.editor-wrap
    .head.bg-cubs
      %h2 Добавить комментарий
    .content
      = simple_form_for Comment.new, :html => {:class => 'form-vertical'} do |f|
        = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
        = f.input :post_id, :as => :hidden, :input_html => {:value => @post.id}
        .form-row
          = f.input :body, :input_html => {:class => 'stmce'}, :label => false
        .form-row
          = f.button :submit, :class => 'btn-success'
  .clearfix