/*
 *= require taurus/bootstrap/bootstrap.min
 *= require taurus/jquery/jquery-ui.min
 *= require taurus/icons/font-awesome.min
 *= require taurus/mcustomscrollbar/jquery.mCustomScrollbar
 *= require taurus/select2/select2
 *= require taurus/shbrush/shCoreDefault
 *= require taurus/shbrush/shThemeDefault
 *= require taurus/cleditor/jquery.cleditor
 *= require taurus/codemirror/codemirror
 *= require taurus/validationengine/validationEngine
 *= require taurus/fancybox/jquery.fancybox
 *= require taurus/fullcalendar/fullcalendar
 *= require taurus/elfinder/elfinder.min
 *= require taurus/filetree/jqueryFileTree
 *= require taurus/stylesheet
 *= require taurus/backgrounds
 *= require taurus/themes
 *= require taurus/stylesheets
 *= require forum/categories
 *= require forum/topics
 *= require forum/replies
 *= require_self
*/
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400&subset=cyrillic,latin);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
}

form.new_user {
  padding-top: 10px;
}

.post-entry, .post-entry-detail {
  .content {
    img {
      max-width: 100%;
      margin: 10px 0;
    }
  }
}

.table-responsive {
  border-color: rgba(0, 0, 0, 0.2);
  & > .table {
    background: transparent;
  }
}

.topic {
  .reply {
    .meta {
    }
  }
}

.popover {
  .popover-title {
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .popover-content {
    text-overflow: ellipsis;
    overflow: hidden;
    .list-group {
      margin-bottom: 0;
    }
  }
}

#forum-wrap {
  .category-actions, .topic-actions {
    .pagination {
      margin-top: 0 !important;
    }
    .action-buttons {
      margin-bottom: 17px;
    }
  }
}

.bg-blur {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  background: transparent asset_url('fog_bg.jpg') no-repeat center top;
  background-size: cover;
}
.row {
  margin-bottom: 15px;
}
.row#index {
  margin-top: 600px;
}

.messages {
  .messages-item {
    .messages-item-text {
      .meta {
        margin: -10px -10px 10px -10px;
        line-height: 40px;
        padding: 0 10px;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        .user-link {
          font-size: 16px;
        }
      }
    }
  }
}