- breadcrumb :categories, @categories
%h1= title
%hr
.row
  - if @categories.any?
    - @categories.each do |category|
      %div.col-xs-12.col-sm-12.col-md-12.col-lg-12{:id => "category-#{category.id}"}
        %div.well.well-sm
          %h3.text-center= link_to category.title, category_path(category)
          %hr
          = category.desc
.clearfix