- breadcrumb :category, @category
- set_meta_tags :title => @category.title
.block.block-drop-shadow
  .head.bg-cubs
    %h2= @category.title
  - unless @category.desc.nil?
    .content
      = @category.desc
.clearfix
-#- if @category.children.any?
-#  .block.block-transparent
-#    .content.np.row
-#      - @category.children.each do |children_category|
-#        %div.col-xs-12.col-sm-12.col-md-6.col-lg-4{:id => "category-#{children_category.id}"}
-#          %div.block.block-drop-shadow
-#            .head.bg-cubs
-#              %h2= link_to children_category.title, category_path(children_category)
-#            - unless children_category.desc.nil?
-#              .content= children_category.desc
-#      .clearfix
- if @posts.any?
  - @posts.each do |post|
    = render :partial => 'posts/partials/post', locals: {post: post}
  = paginate @posts, :views_prefix => 'blocks/'