!!!
%html
  %head
    = csrf_meta_tags
    -#<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    = display_meta_tags :site => t('fog.fe.layout.common.site_name')
    = stylesheet_link_tag 'application', media: 'all'
  %body.bg-img-num22
    .container.theme-black.theme-opaque.container-fixed
      = render :partial => '/chunks/navigation'
      - unless current_page?(root_url)
        .row
          .col-md-12
            = breadcrumbs :style => :bootstrap, :class => 'breadcrumb block-drop-shadow'
      .row{:id => yield(:content_class)}
        .col-md-9
          = yield
        .col-md-3
          = render :partial => '/chunks/sidebar'
      .row
        .col-md-4.online-list
        .col-md-4
        .col-md-4
    - if Rails.env == 'production'
      = render :partial => 'blocks/metrika'
    .bg-blur
    = javascript_include_tag 'application'
    = render :partial => 'chunks/notifications', locals: {notify: notice, flash: flash}
    = javascript_include_tag params[:controller]
    = tinymce
    = tinymce :mini