!!!
%html
  %head
    = csrf_meta_tags
    %title Fog
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{:type => 'button', :data => {:toggle => 'collapse', :target => '#fog-nav-header'} }
            %span.sr-only= t('fog.fe.layout.common.sr.toggle_nav')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t('fog.fe.layout.common.site_name'), root_path, :class => 'navbar-brand'
        .collapse.navbar-collapse#fog-nav-header
          = render_navigation :expand_all => true, :renderer => :bootstrap
          %ul.nav.navbar-nav.navbar-right#user-panel
            - if current_user.nil?
              -#%li
                -# @TODO: login modal, now only redirect
                %a{:href => '#'}
            - else
              %li.user-avatar
                %a#current-user-avatar{:href => user_path(current_user)}
                  = image_tag current_user_d.processed_avatar, :alt => current_user.email, :class => 'img-rounded'
              %li.dropdown.user-info
                %a{:href => '#', :class => 'dropdown-toggle', :role => 'button', :data => {:toggle => 'dropdown'}, :aria => {:expanded => 'false'}}
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to 'User Profile', user_path(current_user)
                  %li= link_to 'Logout', destroy_user_session_path(current_user)
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = breadcrumbs style: :bootstrap
          = yield
        .clearfix
      .row
        .col-xs-12.col-sm-4.col-md-4
          .well
            %h4 Whos online
            - if !total_online.nil?
              = image_tag total_online.processed_avatar(size: 20), :alt => total_online.email, :title => total_online.email, :data => {:toggle => 'tooltip', :placement => 'top'}
        .col-xs-12.col-sm-4.col-md-4
        .col-xs-12.col-sm-4.col-md-4
    = javascript_include_tag 'application'
