!!!
%html
  %head
    = csrf_meta_tags
    -#<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    = display_meta_tags :site => t('fog.fe.layout.common.site_name')
    = stylesheet_link_tag 'application', media: 'all'
  %body.bg-img-num22
    .container.theme-opaque.container-fixed
      = debug flash
      = yield
    .bg-blur
    - if Rails.env == 'production'
      = render :partial => 'blocks/metrika'
    = javascript_include_tag 'application'
    = render :partial => 'chunks/notifications', locals: {notify: notice, flash: flash}